.response-container {
    padding: 2em;
    margin: 1em auto;
    max-width: 700px;
    background-color: var(--background-color);
    border-radius: 12px;
}

.response-header {
    margin-bottom: 1em;
}

.color-palette-container {
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.color-swatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.color-swatch {
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.swatch-label {
    font-size: 0.875rem;
}