.navbar {
  background-color: var(--background-color);
  padding: 16px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  display: none;
  height: 30px;
  overflow: hidden;
  font-weight: 500;
}

.nav-link span {
  display: flex;
  align-items: center;
  height: 30px;
}

.nav-link span:first-child {
  color: #6b7280;
}

.nav-link span:last-child {
  color: #6366f1;
}

.signIn-button,
.signUp-button {
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 4px;
  white-space: nowrap;
}

.signIn-button {
  background: linear-gradient(to right, #7c3aed, #4f46e5);
  -webkit-background-clip: text;
  color: transparent;
}

.signUp-button {
  background: linear-gradient(to right, #7c3aed, #4f46e5);
  color: var(--background-color);
}

.nav-menu {
  position: absolute;
  padding: 16px;
  background-color: var(--background-color);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  left: 0;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-link {
  height: 30px;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.125rem;
  display: flex;
  align-items: start;
  gap: 8px;
  text-decoration: none;
}

.menu-link span {
  display: flex;
  align-items: center;
  height: 30px;
}

.menu-link span:first-child {
  color: var(--text-color-light);
}

.menu-link span:last-child {
  color: var(--accent-color);
}

.menu-link-arrow {
  height: 30px;
  color: var(--text-color-light);
}

@media (min-width: 760px) {
  .nav-link {
    display: flex;
    height: 30px;
    overflow: hidden;
    font-weight: 500;
    text-decoration: none;
  }

  .menu-button {
    display: none;
  }
}
