.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .max-width-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}
